<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>

    <title>PAGE ERROR></title>

    <% include partials/head.ejs %>

    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/main.js"></script>

</head>
<body>
<div class="container test">

Approach the normal router!

</div>
<% include partials/google_analytic.ejs %>
</body>
</html>